<div class="home-banner">
  <div class="contain-lg">
    <h1 class="header-lg banner-header">Track new releases for your favorite <span class="text-highlight">Artists</span></h1>
    <%= link_to "Signup", new_user_registration_path, class: "button button-primary" %>
    <%= link_to "Login", new_user_session_path, class: "button button-basic" %>
  </div>
  <%= image_tag 'banner.png', class: 'banner-img' %>
</div>
