// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$body: #DEF3EC;
$body-darken: #c7dad4;

$highlight: #09CE8E;
$primary: #738881;

$black: #494949;
$paragraph: #9F9F9F;
