<%= render 'components/home_banner' %>

<div class="bg-white">
  <div class="contain">
    <div class="feature">
      <div class="image-container">
        <%= image_tag 'feature' %>
      </div>
      <div class="info">
        <h3 class="header-md">Follow your favourite artist</h3>
        <p>Search for your favorite musicians using Spotify's database of artists.</p>
        <a href="" class="button button-primary">Find artists</a>
      </div>
    </div>
    <div class="feature">
      <div class="info">
        <h3 class="header-md">Follow your favourite artist</h3>
        <p>Search for your favorite musicians using Spotify's database of artists.</p>
        <a href="" class="button button-primary">Find artists</a>
      </div>
      <div class="image-container">
        <%= image_tag 'feature' %>
      </div>
    </div>
    <div class="feature">
      <div class="image-container">
        <%= image_tag 'feature' %>
      </div>
      <div class="info">
        <h3 class="header-md">Follow your favourite artist</h3>
        <p>Search for your favorite musicians using Spotify's database of artists.</p>
        <a href="" class="button button-primary">Find artists</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-white" style="display: none">
  <div class="contain">
    <h1 class="header-lg">Header Lg</h1>
    <h2 class="header-md">Header Md</h2>

    <p>It prevents you from having to search through your code, trying to find all the places where you specified a certain number or name. Change the value of the variable and all the instances where it’s used will update along with it.</p>


    <a href="" class="button">Login</a>
    <a href="" class="button button-basic">Login</a>
    <a href="" class="button button-primary">Signup</a>
    <a href="" class="button button-highlight">Play on spotify</a>
    <a href="" class="button button-sm">Login</a>
    <a href="" class="button button-sm button-basic">Login</a>
    <a href="" class="button button-primary button-sm">Signup</a>
    <a href="" class="button button-highlight button-sm">Play on spotify</a>
  </div>
</div>
