<div class="contain page-banner">
  <h1 class="header-lg">New releases</h1>
</div>

<div class="contain">
  <h4 class="section-header">16th June</h4>
  <% 5.times do %>
    <%= render 'artists/artist_new_release', album: true %>
  <% end %>
  <h4 class="section-header">18th June</h4>
  <% 5.times do %>
    <%= render 'artists/artist_new_release', album: false %>
  <% end %>
</div>
