.button {
  color: $black;
  border: 2px solid $black;
  padding: $control-size/4 $control-size/2;
  font-size: $font-size;
  text-decoration: none;
  transition: 0.2s ease-out;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $white;
    background: darken($black, 20%);
    border: 2px solid darken($black, 20%);
  }
}

.button.button-primary {
  color: $white;
  background: $black;

  &:hover {
    background: darken($black, 20%);
    border: 2px solid darken($black, 20%);
  }
}

.button.button-highlight {
  border: 2px solid $highlight;
  color: $white;
  background: $highlight;

  &:hover {
    background: darken($highlight, 5%);
    border: 2px solid darken($highlight, 5%);
  }
}

.button.button-basic {
  border: 2px solid transparent;
  color: $black;

  &:hover {
    border: 2px solid $body-darken;
    background: $body-darken;
  }
}

.button.button-sm {
  padding: $control-size/6 $control-size/3;
  font-size: $font-size*4/5;
}
