.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: $control-size
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 10px;

  img {
    width: 40px;
    margin-right: 10px;
  }
}

.avatar {
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }
}

.navbar-nav {
  display: flex;
  align-items: center;

  .nav-item {
    margin-left: 5px;
  }
}

