.artist {
  width: 25%;
  padding: $control-size * 1/4;

  .artist-card {
    position: relative;

    .heart-button {
      background: white;
      border-radius: 100%;
      width: $control-size;
      height: $control-size;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 1;

      .heart {
        stroke: $black;
      }

      &:hover {
        background: $highlight;

        .heart {
          stroke: $body;
        }
      }
    }

    .artist-image {
      width: 100%;
      margin-bottom: $control-size * 1/6;
      filter: grayscale(100%);
    }

    .artist-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .artist-name {
        color: $black;
        font-weight: 400;
      }
    }

    &:hover {
      .artist-image {
        filter: grayscale(0%);
      }
    }
  }
}
